<div>
    <div>
      <img src="<%= @group.icon %>", width="100", height="100", alt="group_icon">
      
      <div>
          <h2> <%= @group.name %></h2>
        <span> <%= @group.created_at.strftime("%B, %e at %H:%M") %> </span>
      </div>
    </div>
    <div class="total row">
      <span col-6>Total Budgets</span>
      <span col-6><%= number_to_currency(@total) %> </span>
    </div>
  <% @budgets.each do |budget|%>
    <%=  budget.name %>
  <% end %>
  <div>
    <%= link_to "Add budget", new_user_group_budget_path %>
  </div>
</div>