<div class="budget-display card mt-3 shadow-sm p-3 mb-5 bg-body rounded w-10">
  <h2> Details </h2>
  <div class="budget-display list-group  card d-flex  p-3 w-10 gp-10">
    <h6 class="card-title">Name: <%= @budget.name %></h6>
    <h6 class="card-title">Amount: <%= number_to_currency(@budget.amount) %></h6>
    <span> <i class="fa fa-calendar" aria-hidden="true"></i> <%= @budget.created_at.strftime("%B, %e at %H:%M") %> </span>
    </div> 
    <%= button_to "Delete budget", @budget, method: :delete %>
</div>

<% @budgets.each do |budget|%>
  <div class="show-budgets"
  <%= render budget %>
  </div>
<% end %>