<h2> Create New Group</h2>

<%= form_with model: @group, url: user_groups_path(current_user),  scope: :group do |f| %>
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon, autofocus: true, autocomplete: "icon" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="actions">
    <%= f.submit "Add Group" %>
  </div>
<% end %>
